<section class="orders-container">
  <h1>Order Summary</h1>
  <div>
    @if(orders.length > 0){
    <div class="order-item">
      @for( order of orders ; track $index){
      <img
        [src]="order.image_url"
        [alt]="order.product_name"
        class="order-image"
      />
      <h2>{{ order.product_name }} ({{ order.quantity }})</h2>
      <p>Date: {{ order.date }}</p>
      <p>Quantity: {{ order.quantity }}</p>
      }
    </div>
    }
  </div>
  <div>
    <!-- @if(orders.length === 0){
    <h2>No orders to display</h2>
    } -->
  </div>
</section>
