<section class="cart-container">
  <h1>Your Cart</h1>
  <div>
    @if(cartItems.length > 0){
    <div>
      @for(item of cartItems ; track $index){
      <div class="cart-item">
        <img
          src="{{ item.product.product_url }}"
          alt="{{ item.product.name }}"
          class="product-image"
        />
        <h2>{{ item.product.name }} ({{ item.quantity }})</h2>
        <p>
          {{ item.product.price }} x {{ item.quantity }} = ${{
            item.product.price * item.quantity | currency
          }}
        </p>
        <button mat-icon-button (click)="removeItem(item.product.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      }
    </div>
    <div class="cart-total">
      <h2>Total: ${{ total }}</h2>
    </div>

    <div class="buy-container">
      <button mat-stroked-button style="color: black" (click)="buyItems()">
        Buy Items
      </button>
    </div>
    } @else {
    <div>
      <h2>Your cart is empty</h2>
    </div>
    }
  </div>
</section>
