<section class="cart-container">
  <h1>Your Cart</h1>
  <div>
    @if(cartItems.length > 0){
    <div>
      @for(item of cartItems ; track $index){
      <div class="cart-item">
        <h2>{{ item.product.name }} ({{ item.quantity }})</h2>
        <p>
          ${{ item.product.price }} x {{ item.quantity }} = ${{
            item.product.price * item.quantity
          }}
        </p>
        <button (click)="removeItem(item.product.id)">Remove</button>
      </div>
      }
    </div>
    <div class="cart-total">
      <h2>Total: ${{ total }}</h2>
    </div>
    }
  </div>
  <div>
    <h2>Your cart is empty</h2>
  </div>
</section>
