<mat-card class="movie-container">
  <img
    src="{{ products.product_url }}"
    alt="{{ products.name }}-product-image"
    class="movie-poster"
  />
  <mat-card-content>
    <div class="product-spec">
      <h2 class="product-title">
        {{ products.name }}
        <button
          mat-icon-button
          aria-label="Toggle Summary"
          (click)="showDescription()"
        >
          <mat-icon>{{
            show ? "keyboard_arrow_up" : "keyboard_arrow_down"
          }}</mat-icon>
        </button>

        <button
          mat-icon-button
          aria-label="Details of movie"
          routerLink="/products/{{ products.id }}"
        >
          <mat-icon>info</mat-icon>
        </button>
      </h2>
    </div>

    @if(show) {
    <p class="product-summary">
      {{ products.product_description }}
    </p>
    }

    <h2>{{ products.price }}</h2>
    <button mat-button routerLink="/products/cart" (click)="AddingToCart()">
      ➕Add Cart
    </button>
  </mat-card-content>
</mat-card>
