
.product-container{
    overflow: hidden;
    width: 300px;
}
.product-spec{
    display: flex;
    justify-content: space-between;
    align-items: center ;  
}
.product-poster{
    height: 250px;
    width: 100%;
   object-fit: cover;
}

 
.product-rating  {
  font-size: 20px;

}

.product-title{
  font-size: 25px;
  font-weight: bold;
}

.product-rating , .product-title {
  margin: 6px 0px;
}
