<mat-card class="product-container">
  <img
    src="{{ products.product_url }}"
    alt="{{ products.name }}-product-image"
    class="product-poster"
  />
  <mat-card-content>
    <div class="product-spec">
      <h1 class="product-title">
        {{ products.name }}
        <button
          mat-icon-button
          aria-label="Toggle Summary"
          (click)="showDescription()"
        >
          <mat-icon>{{
            show ? "keyboard_arrow_up" : "keyboard_arrow_down"
          }}</mat-icon>
        </button>

        <button
          mat-icon-button
          aria-label="Details of product"
          routerLink="/products/{{ products.id }}"
        >
          <mat-icon>info</mat-icon>
        </button>
      </h1>
    </div>

    @if(show) {
    <p class="product-summary">
      {{ products.product_description }}
    </p>
    }

    <h2>{{ products.price }}</h2>
    <button mat-raised-button (click)="addToCart()">Cart 🛒</button>
  </mat-card-content>
</mat-card>
